/* File: public/css/account-sidebar.css */

.sidebar-title {
  color: #d32f2f;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar-welcome {
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  /* list-style: none; */
  /* padding: 0; */
  margin: 0;
  padding-left: 12px;
}

.sidebar-menu li {
  margin-bottom: 12px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #333;
font-weight: bold;
  display: block;
  padding: 0px 10px;
  border-radius: 4px;
  
}
.sidebar-menu li a.active {
  color: #e58932;
  font-weight: bold;
}
.sidebar-menu li a:hover {
  /* background-color: #fcebea; */
  color: #e58932;
  font-weight: bold;
}
