.order-title {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    /* font-size: 14px; */
}

.order-table thead th {
    text-align: left;
    padding: 10px 12px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: bold;
}

.order-table tbody td {
    padding: 12px;
    text-align: center;
}

.empty-order {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #333;
}
