 body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff;
    }

.container {
        width: 100%;
        max-width: 600px;
        padding: 20px;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .text-1 h1 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }

    .text-1 p {
        text-align: center;
        font-size: 15px;
    }

    .text-1 a {
        text-decoration: underline;
        color: black;
    }

    .text-1 a:hover {
        color: coral;
    }

    label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        display: inline-block;
        color: #8f8888;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        height: 40px;
        border: 1px solid #d2cdcd;
        border-radius: 6px;
        padding: 8px;
        font-size: 14px;
    }

    .text-2 {
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .button {
        text-align: center;
    }

    .button-login {
        height: 40px;
        width: 60%;
        border: none;
        border-radius: 25px;
        background: rgb(239, 156, 105);
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        margin-top: 15px;

    }

    .button-login:hover {
        background-color: rgb(226, 148, 117);
    }

    .fb-gg {
        text-align: center;
    }

    .fb-gg p {
        color: #fe7e7e;
        font-size: 14px;
        margin: 20px 0 10px;
    }

    .fb-gg-button {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .fb-button,
    .google-button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .fb-button {
        background-color: #3b5998;
    }

    .google-button {
        background-color: #db4437;
    }

    .google-icon {
        width: 20px;
        height: 20px;
    }

    .divider {
        color: white;
        font-weight: 300;
    }